.prizes {
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 300px auto 0px auto;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 260px;
    margin: 40px 0px;
}

.prizesHeading {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
}

.prizeAmount {
    color: #ffffff;
    font-family: monospace;
    font-size: 64px;
}

.displayPrizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.heading {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    text-align: center;
    margin: 25px;
}