.PSPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.PSHeading {
    color: #ffffff;
    font-family: "Jersey 15";
    font-family: doto;
    font-weight: 700;
    font-size: 64px;
}

.PSList {
    overflow-x: scroll;
    width: 95vw;
}

.openInnovation {
    font-family: monospace;
    color: #ffffff;
    margin: 15px auto;
    font-size: 16px;
}


@media (max-width: 400px) {
    .PSHeading {
        font-size: 32px;
        justify-content: center;
    }
  }
  
  @media (min-width: 400px) and (max-width: 1299px) {
    .PSHeading {
        font-size: 48px;
        justify-content: center;
    }
  }
  
  @media (min-width: 1300px) {
    .PSHeading {
        font-size: 64px;
        justify-content: center;
    }
  }